
    
body{
    text-align: center;
}
 a{
    margin: 20px;
    background-color: steelblue;
    
    
}
a:hover{
    background-color: deeppink;
}
.aboutme{
    
   
    
      overflow: hidden;
      float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .wwr{
     
      overflow: hidden;
      float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .wwr2{
      
      overflow: hidden;
      float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .pa{
     
      overflow: hidden;
      float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .pw{
     
      overflow: hidden;
      float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .ps{
    
    overflow: hidden;
    float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
