* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1600px;

    font-size: 22px;
    margin: 0;
    padding: 0;
    font-family: Tiro Tamil, serif;
}

/* Logo designing and padding*/
#logo-link {
    padding-bottom: 20px;
    justify-self: center;
    align-self: center;
    position: absolute;
    z-index: 1;
}

.logo {
    width: 60px;
    border: 4px solid #fbb13c;

    overflow: hidden;
    top: 0;
}

/* Navigator designing */
.active {
    background-color: #fbb13c;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #0096c7;

    top: 0;
    width: 100%;

}

nav a:hover {
    background-color: #fbb13c;
    color: #073b4c;
}

.concept {
    padding: 104px;
    padding-left: 15px;
    margin-left: 15px;
    width: 50%;
    float: right;
    background-color: #073b4c;
    color: white;
    box-shadow: 10px 10px 15px 15px #fbb13c;
}

.concept h2 {
    background-color: #fbb13c;
    margin: 10px;
    padding-left: 10px;
}

.items1 {
    display: flex;
    margin: 20px auto;
    padding: 15px;
    flex: content;
    background-color: #073b4c;
    color: white;

}

.items1 .juwelries {
    width: 200px;
    display: block;
    margin-left: 30%;
    padding-bottom: 100px;


}

.items1 .juwelries6 {
    width: 200px;
    margin: 0;
    display: block;
}

.juwelries6 button,
.juwelries button,
.shoes7 button,
.card-1 button,
.card-2 button,
.card-3 button,
.card-4 button,
.card-5 button {
    outline: 0;
    padding: 12px;
    color: #fbb13c;
    background-color: #073b4c;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 13px;
}

.juwelries6 button:hover,
.juwelries button:hover,
.card-1 button:hover,
.card-2 button:hover,
.card-3 button:hover,
.card-4 button:hover,
.card-5 button:hover,
.shoes7 button:hover {
    background-color: #fbb13c;
    color: white;

}

.container .shoes7 {
    float: right;
    width: 20%;
    margin: 5px;
    padding: 5px;

}

.container #first {
padding: 15px;
    margin-left: 15px;
    padding-left: 15px;

    color: #0096c7;

}

.container ul {

    display: grid;
    justify-content: end;
    padding-right: 100px;
    margin-right: auto;
    color: #fbb13c;
    background-color: #073b4c;
}

.container .card-1 {
    width: 25%;
    position: relative;
    right: 100px;
    bottom: 280px;
    margin: 20px;
    padding-left: 100px;


}

.container .background {
    background-color: #073b4c;
}

.card-2 img,
.card-3 img,
.card-4 img,
.card-5 img {
    border: 5px solid #073b4c;
    box-shadow: 5px 5px 6px 6px#fbb13c;

}


#main-image-grid {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px 150px;
    grid-template-rows: 150px 150px;
    margin-bottom: 10px;
}

.card-2 {
    grid-column: 7/7;
    position: relative;
    bottom: 400px;
    width: 250px;
    display: grid;
    justify-content: start;
    margin-right: 100px;
}

.card-3 {
    grid-column: 8/8;
    position: relative;
    bottom: 340px;
    width: 250px;
    padding: 15px;

}

.card-4 {
    display: grid;
    grid-column: 5/6;
    grid-row: 1/2;
    position: relative;
    bottom: 400px;
    width: 250px;
    justify-content: end;
    left: 20px;
}

.card-5 {
    grid-column: 1/2;
    position: relative;
    bottom: 410px;
    width: 250px;
    display: grid;
    justify-content: start;
    padding: 10px;

}

footer {

    background-color: #073b4c;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

footer p {
    color: #fbb13c
}

footer a {
    color: white;
    text-decoration: none;
    margin: 20px auto;
    padding: 5px;
}

footer a:hover {
    background-color: #fbb13c;
    color: #0096c7;
}

footer .social img {
    padding-top: 15px;
}

footer .social img:hover {
    opacity: .6;
    transform: scale(1.1);
}

@media screen and (max-width: 900px) {

    nav,
    footer {
        flex-direction: column;
    }

    nav a {
        display: block;
        padding: 15px;
    }

    .items1 {
        display: flex;
        padding: 50px;
        width: 100%;
    }

    .items1 .juwelries6,
    .items1 .juwelries {
        width: 50%;
        padding: 15px 15px;
        margin: 20px;
        display: inline-block;
        position: relative;
        right: 70px;

    }

    .items1 img,
    .shoes7 img {
        width: 200px;
    }

    .container,
    #first {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .container .shoes7 {
        width: 60%;
        padding-right: 100px;
        background: #fbb13c;


    }
    .container ul, li{
        margin: 10px;
    }

    .container .card-1 {
        width: 100%;
        position: relative;
        top: 50px;
        background-color: #fbb13c;
    }
    .container .card-1 img{
        width: 150px;
        display: block;
        margin: 0 auto;
    }

    .concept {
        display: block;
        padding: 50px 0;
        margin: 20px 0;
        width: 100%;
    }

    #main-image-grid {
        display: block;
        margin: 100px;
        width: 250px;
    }

    .card-2 img,
    .card-3 img,
    .card-4 img,
    .card-5 img {
        width: 250px;
    }

    .card-2{
        position: relative;
        top: 30px;

    }
    .card-3{
        position: relative;
        top: 50px;
        width: 100%;

    }
    .card-4{
        position: relative;
        top: 50px;

    }
    .card-5 {
        position: relative;
        top: 50px;
    }




}